
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --corPrimaria: #730202;
    --corBotao: #260101;
    --corFonteBotao: #400101;
    --corTexto: #260101;
    --corTitulo: #BF0606;
    --barra: #590202;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
}

body {
    background-color: #400101;
    padding-top: 70px; /* Para evitar que o conteúdo fique escondido atrás da navbar */
}

#container {
    width: 100%;
    background-color: var(--corPrimaria);
}

#logo {
    width: 135px;
    border-radius: 80%;
}

#barraNave {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--barra);
    z-index: 1000;
}

#barraMenu {
    list-style: none;
    display: flex;
    gap: 20px; 
}

#barraMenu li {
    list-style: none;
    color: var(--corTitulo);
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    padding: 10px 15px;
    border-radius: 5px;
}

#barraMenu li:hover {
    background-color: var(--corBotao);
    color: white;
}

#sectionBanner{
    width: 100%;
}

#sectionBanner img{
    width: 100%;
    height: 200px;
}

#cards {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 40px auto 40px;
}


.card{
    width: 20%;
    background-color: white;
    border-radius: 15px;
}

.card img{
    width: 100%;
    border-radius: 15px;
}

.card h2{
    text-align: center;
    color: var(--corTexto);
    margin-top: 15px;
}

.card p{
    color: var(--corBotao);
    text-align: justify;
    padding: 9px;
    padding-bottom: 20px;
    margin-top: 10px;
}

#quemSomos {
    display: flex;          
    align-items: center;     
    gap: 20px;             
    padding: 20px;
  }
  #quemSomos img {
    width: 15%;
    border-radius: 15px;
   
  }
  #quemSomos .texto {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  #quemSomos .texto h2 {
    text-align: center;
    color: var(--corTexto);
    margin-top: 15px;
  }

  #quemSomos hr{
    color: var(--corTitulo);
  }

  footer {
    display: flow-root;            
    justify-content: center;   
    padding: 20px;              
    background-color: var(--barra);
    flex-direction: row;    
    text-align: center;         
  }

  footer ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
  }

  .fotoTabela {
    width: 100px;
    display: block;
    margin: 0 auto;
}



th, td {
    vertical-align: middle;
}

  table {
    width: 75%;
    margin: 0 auto 0.5em; 
    table-layout: fixed;
    text-align: center;
}

 a{
    color: var(--corTitulo);
}

/* contato */

#containerContato{
    width: 100%;
    display: flex;
}


#containerContato img{
    width: 60%;
    padding: 15px;
}

#containerContato form h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    color: var(--corTitulo);
}

#containerContato form{
    width: 60%;
    padding: 15px;
}

#containerContato form #line1{
    width: 100%;
}

#containerContato form #line1 input{
    width: 65%;
    padding: 10px;
}

#containerContato form #line2{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#containerContato form #line2 input{
    padding: 10px;
}

#containerContato form #line2 input {
    width: 65%;
}


#containerContato form #line2 #rua{
    width: 50%;
}

#containerContato form #line2 #numero{
    width: 80px;
}

#containerContato form #line2 #bairro{
    width: 20%;
}

#containerContato form #line2 #cidade{
    width: 20%;
}

#containerContato form #line3{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}


#containerContato form #line3 #email,#telefone{
    width: 50%;
    
}

#containerContato img{
    border-radius: 90%;
    width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 100px;

}

#containerContato form #line4{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#containerContato form #line4 #mensagem{
    width: 82%;
}

#containerContato form #line5 #botao{
    width: 200px;
    padding: 15px;
    cursor: pointer;
    background-color: var(--corBotao);
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 15px;
}

#containerContato form #line5 #botao:hover{
    background-color: var(--barra);
}